@{
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/base.js"></script>   
}
<div class="info-container">
    <p style="text-align: center"><img src="~/Content/Images/rainbowdash_cookie.png" style="width: 300px" /></p>
    <h1>Zaczynamy</h1>
    <p style="margin-bottom: 30px;">Panno Anno kolejna porcja zagadek do rozwiązania. Mam nadzieję, że teraz będzie trudniej...</p>
    <p style="text-align: center">@Html.ActionLink("Rozpocznij", "YRKqQ", null, htmlAttributes: new { @class = "btn btn-success btn-lg" })</p>
</div>
