<div class="info-container" style="text-align: center">
    <p style="text-align: center"><img src="~/Content/Images/rarity_end.png" style="width: 350px" /></p>
    <h2 style="margin-top: 40px">Twój kod</h2>
    <h1 style="font-size: 50px; font-weight: 700">592</h1>
</div>