<div class="AnrOY_images">
    <img src="~/Content/Images/AnrOY/01.gif" />
    <img src="~/Content/Images/AnrOY/02.gif" />
    <img src="~/Content/Images/AnrOY/03.gif" />
    <img src="~/Content/Images/AnrOY/04.gif" />
    <img src="~/Content/Images/AnrOY/05.gif" />
    <img src="~/Content/Images/AnrOY/06.gif" />
    <img src="~/Content/Images/AnrOY/07.gif" />
    <img src="~/Content/Images/AnrOY/08.gif" />
    <img src="~/Content/Images/AnrOY/09.gif" />
    <img src="~/Content/Images/AnrOY/10.gif" />
</div>