<div class="jorJG_images">
    <img src="~/Content/Images/jorJG/01.gif" />
    <img src="~/Content/Images/jorJG/02.gif" />
    <img src="~/Content/Images/jorJG/03.gif" />
    <img src="~/Content/Images/jorJG/04.gif" />
    <img src="~/Content/Images/jorJG/05.gif" />
</div>
